{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Russian World Cup - Data">
    <meta name="author" content="DataDeer">
    <meta name="keywords" content="Data Science Analysis Big World Cup Football">

    <!-- Title Page-->
    <title>World Cup Dashboard</title>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'worldcup/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Fontfaces CSS-->
    <link href="{% static 'worldcup/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'worldcup/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'worldcup/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'worldcup/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{% static 'worldcup/css/theme.css' %}" rel="stylesheet" media="all">

    <!-- Simple Plot CSS -->
    <link href="{% static 'worldcup/css/simple_plot.css' %}" rel="stylesheet" media="all">
    <style>
      .toolTip {
      	position: absolute;
        display: none;
        min-width: 80px;
        height: auto;
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid #6F257F;
        padding: 14px;
        text-align: center;
      }
      .tooltip {
        position: absolute;
        text-align: center;
        width: 0px;
        height: 0px;
        padding: 2px;
        font: 12px sans-serif;
        background: #E5E5E5;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }
      .tooltipshow {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 50px;
        padding: 2px;
        font: 12px sans-serif;
        background: #E5E5E5;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }

     </style>


</head>

<body class="animsition">

    <div class="page-wrapper">


        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="http://www.datadeer.fr">
                            <img src="{% static 'worldcup/img/datadeer_mobile.png' %}" alt="DataDeer"/>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">

                      <li>
                        <a href="/main/">
                          <i class="fa fa-play-circle" aria-hidden="true"></i>Live
                        </a>
                      </li>

                      <!-- <li>
                        <a href="/**************/">
                          <i class="fa fa-trophy" aria-hidden="true"></i>Final
                        </a>
                      </li>

                      <li>
                        <a href="/**************/">
                          <i class="fa fa-heart" aria-hidden="true"></i>Play-off for third place
                        </a>
                      </li>

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-full"></i>Semi-finals
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/**************/">#*************</a>
                            </li>
                            <li>
                               <a href="/**************/">#*************</a>
                            </li>
                            <li>
                          </ul>
                      </li>

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-three-quarters"></i>Quarter-finals
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/ruscro/">#RUSCRO</a>
                            </li>
                            <li>
                               <a href="/sweeng/">#SWEENG</a>
                            </li>
                            <li>
                               <a href="/brabel/">#BRABEL</a>
                            </li>
                            <li>
                               <a href="/urufra/">#URUFRA</a>
                            </li>
                          </ul>
                      </li> -->

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-quarter"></i>Round of 16
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/sweswi/">#COLENG</a>
                            </li>
                            <li>
                               <a href="/sweswi/">#SWESWI</a>
                            </li>
                            <li>
                               <a href="/beljpn/">#BELJPN</a>
                            </li>
                            <li>
                               <a href="/bramex/">#BRAMEX</a>
                            </li>
                            <li>
                               <a href="/croden/">#CRODEN</a>
                            </li>
                            <li>
                               <a href="/sparus/">#SPARUS</a>
                            </li>
                            <li>
                                <a href="/urupor/">#URUPOR</a>
                            </li>
                            <li>
                                <a href="/fraarg/">#FRAARG</a>
                            </li>
                          </ul>
                      </li>



                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-users"></i>Group Phase
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              <li>
                                  <a href="/engbel/">#ENGBEL</a>
                              </li>
                              <li>
                                  <a href="/serbra/">#SERBRA</a>
                              </li>
                              <li>
                                  <a href="/denfra/">#DENFRA</a>
                              </li>
                              <li>
                                  <a href="/ururus/">#URURUS</a>
                              </li>
                              <li>
                                  <a href="/polcol/">#POLCOL</a>
                              </li>
                              <li>
                                  <a href="/gerswe/">#GERSWE</a>
                              </li>
                              <li>
                                  <a href="/bracrc/">#BRACRC</a>
                              </li>
                              <li>
                                  <a href="/fraper/">#FRAPER</a>
                              </li>
                              <li>
                                  <a href="/uruksa/">#URUKSA</a>
                              </li>
                              <li>
                                  <a href="/polsen/">#POLSEN</a>
                              </li>
                              <li>
                                  <a href="/tuneng/">#TUNENG</a>
                              </li>
                              <li>
                                  <a href="/braswi/">#BRASWI</a>
                              </li>
                              <li>
                                  <a href="/fraaus/">#FRAAUS</a>
                              </li>
                              <li>
                                  <a href="/porspa/">#PORSPA</a>
                              </li>
                              <li>
                                  <a href="/rusara/">#RUSARA</a>
                              </li>
                          </ul>
                      </li>


                        <li>
                            <a href="/table">
                              <i class="fas fa-table"></i>Fixtures
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block" style="width: 220px;">
            <div class="logo">
                <a href="http://www.datadeer.fr">
                     <img src="{% static 'worldcup/img/datadeer.png' %}" alt="DataDeer"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                      <li>
                        <a href="/main/">
                          <i class="fa fa-play-circle" aria-hidden="true"></i>Live
                        </a>
                      </li>

                      <!-- <li>
                        <a href="/**************/">
                          <i class="fa fa-trophy" aria-hidden="true"></i>Final
                        </a>
                      </li>

                      <li>
                        <a href="/**************/">
                          <i class="fa fa-heart" aria-hidden="true"></i>Play-off for third place
                        </a>
                      </li>

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-full"></i>Semi-finals
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/**************/">#*************</a>
                            </li>
                            <li>
                               <a href="/**************/">#*************</a>
                            </li>
                            <li>
                          </ul>
                      </li>

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-three-quarters"></i>Quarter-finals
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/ruscro/">#RUSCRO</a>
                            </li>
                            <li>
                               <a href="/sweeng/">#SWEENG</a>
                            </li>
                            <li>
                               <a href="/brabel/">#BRABEL</a>
                            </li>
                            <li>
                               <a href="/urufra/">#URUFRA</a>
                            </li>
                          </ul>
                      </li> -->

                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-thermometer-quarter"></i>Round of 16
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                               <a href="/sweswi/">#COLENG</a>
                            </li>
                            <li>
                               <a href="/sweswi/">#SWESWI</a>
                            </li>
                            <li>
                               <a href="/beljpn/">#BELJPN</a>
                            </li>
                            <li>
                               <a href="/bramex/">#BRAMEX</a>
                            </li>
                            <li>
                               <a href="/croden/">#CRODEN</a>
                            </li>
                            <li>
                               <a href="/sparus/">#SPARUS</a>
                            </li>
                             <li>
                                <a href="/urupor/">#URUPOR</a>
                             </li>
                              <li>
                                  <a href="/fraarg/">#FRAARG</a>
                              </li>
                          </ul>
                      </li>


                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fa fa-users"></i>Group Phase
                          </a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              <li>
                                  <a href="/engbel/">#ENGBEL</a>
                              </li>
                              <li>
                                  <a href="/serbra/">#SERBRA</a>
                              </li>
                              <li>
                                  <a href="/denfra/">#DENFRA</a>
                              </li>
                              <li>
                                  <a href="/ururus/">#URURUS</a>
                              </li>
                              <li>
                                  <a href="/polcol/">#POLCOL</a>
                              </li>
                              <li>
                                  <a href="/gerswe/">#GERSWE</a>
                              </li>
                              <li>
                                  <a href="/bracrc/">#BRACRC</a>
                              </li>
                              <li>
                                  <a href="/fraper/">#FRAPER</a>
                              </li>
                              <li>
                                  <a href="/uruksa/">#URUKSA</a>
                              </li>
                              <li>
                                  <a href="/polsen/">#POLSEN</a>
                              </li>
                              <li>
                                  <a href="/tuneng/">#TUNENG</a>
                              </li>
                              <li>
                                  <a href="/braswi/">#BRASWI</a>
                              </li>
                              <li>
                                  <a href="/fraaus/">#FRAAUS</a>
                              </li>
                              <li>
                                  <a href="/porspa/">#PORSPA</a>
                              </li>
                              <li>
                                  <a href="/rusara/">#RUSARA</a>
                              </li>
                          </ul>
                      </li>


                      <li>
                          <a href="/table">
                              <i class="fas fa-table"></i>Fixtures
                          </a>
                      </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


        <!-- PAGE CONTAINER-->
        <div class="page-container">

            {% block main %}
            {% endblock main %}

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>© 2018, Créé par DataDeer - <a href="http://datadeer.fr/cgu.html">CGU</a> | <a href="http://datadeer.fr/mentions_legales.html">Mentions légales</a>.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- END PAGE CONTAINER-->



    </div>


</body>


<!-- Jquery JS-->
<script src="{% static 'worldcup/vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'worldcup/vendor/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
<!-- Vendor JS       -->
<script src="{% static 'worldcup/vendor/slick/slick.min.js' %}">
</script>
<script src="{% static 'worldcup/vendor/wow/wow.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
</script>
<script src="{% static 'worldcup/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/counter-up/jquery.counterup.min.js' %}">
</script>
<script src="{% static 'worldcup/vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'worldcup/vendor/chartjs/Chart.bundle.min.js' %}"></script>
<script src="{% static 'worldcup/vendor/select2/select2.min.js' %}"></script>

<!-- D3js -->
<script src="//d3js.org/d3.v4.min.js"></script>

<!-- Main JS-->
<script src="{% static 'worldcup/js/main.js' %}"></script>


<!-- LINE CHART POSNEG -->
<script src="{% static 'worldcup/js/multi_players_chart.js' %}" type="text/javascript"></script>
<!-- MULTI LINE CHART PLAYERS -->
<script src="{% static 'worldcup/js/multi_lines_chart.js' %}" type="text/javascript"></script>
<!-- BAR PLOT -->
<script src="{% static 'worldcup/js/barplot_chart.js' %}" type="text/javascript"></script>
<!-- PITCH -->
<script src="{% static 'worldcup/js/pitch.js' %}" type="text/javascript"></script>
<!-- TWITTER -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% block d3v4 %}
{% endblock d3v4 %}




<!-- MAP -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>

{% block d3 %}
{% endblock d3 %}




</html>
<!-- end document-->
