<!DOCTYPE html>
<html lang="fr">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114718272-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114718272-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DataDeer apporte son expertise en matière de Machine Learning et Big Data afin de créer des outils et des solutions de collecte et traitement de la donnée, interne et externe en mettant en oeuvre les dernières techniques.">
    <meta name="keywords" content="data, data science, data engineering, data scientist, Big Data, machine learning, optimisation, outils data, solutions, expertise, valorisation des données">
    <meta name="author" content="DataDeer">

    <title>DataDeer</title>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Montserrat Sans -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Lato Font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin-ext' rel='stylesheet' type='text/css'>
    <!-- Logos Services -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <!-- LOADER -->
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="js/loader.js"></script>
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->


  </head>



  <body class="blue">
    <!--
    //////////////////////
    LOADER SECTION
    //////////////////////
    -->
    <div class="se-pre-con"></div>


    <!--
    //////////////////////
    SERVICES SECTION
    //////////////////////
    -->
    <div id="services" class="section gray">
      <div class="container" style="padding-bottom: 0px;">

        <div style="float: left; width: 5%;">
          <a href="index.html"><img href="index.html" src="img/favicon.png" style="width: 110%; margin-top:0px;" alt=""/></a>
        </div>
        <div style="float: right; width: 5%;">
          <a href="index.html"><img src="img/favicon.png" style="width: 110%; margin-top:0px;" alt=""/></a>
        </div>

        <div class="content">
          <div class="text-center">
            <h2 class="title">Conditions Générales d'Utilisation</h2>
            <br>
            <br>
            <br>
          </div>
            <div>
                <h3>PRÉAMBULE</h3>
                <p class="description">
                  Les présentes conditions générales d’utilisation (ci-après les « CGU ») déterminent les conditions d’utilisation et d’accès d’un
                  utilisateur (au sens d’un internaute se connectant au site ci-après désigné) du site internet http://datadeer.fr
                  exploité par la société DataDeer pour la diffusion d’informations sur l’actualité de ses services en gestion et
                  analyse de données.<br><br>

                  L’utilisateur reconnaît et accepte, sans réserve, les CGU du seul fait de son utilisation du site « datadeer »
                  (ci-après le « Site »).<br><br>

                  Les CGU et l'ensemble des informations contractuelles mentionnées sur le Site sont rédigées en français. Les CGU sont mises
                  à la disposition des utilisateurs sur le Site où elles sont directement consultables.<br><br>

                  DataDeer se réserve la possibilité de modifier à tout moment les présentes CGU. Il est donc recommandé d’en faire une
                  lecture attentive à chaque nouvelle visite du Site.<br><br>

                  Les CGU régissent l’intégralité des relations entre DataDeer et chacun des utilisateurs du Site et s’appliquent à
                  l’exclusion de tout autre convention ou accord.<br><br>
                </p>


                <h3>ARTICLE 1 - ACCÈS AU SITE</h3>
                <p class="description">
                  DataDeer s’efforce d’assurer un accès continu 24H/7J au Site. Cet accès peut néanmoins être temporairement restreint en
                  cas d’éventuelles pannes et/ou interventions de maintenance nécessaires au bon fonctionnement de celui-ci et pour une durée
                  indéterminée en cas de force majeure ou d’événement hors du contrôle et/ou extérieur à DataDeer.<br><br>

                  Ainsi, DataDeer ne garantit pas la disponibilité du Site, ni la fiabilité et la célérité des transmissions.<br><br>

                  Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
                  En cas de difficultés, les utilisateurs peuvent nous contacter soit par l'intermédiaire du formulaire situé dans la rubrique
                  "Contact", soit par courriel à l'adresse : contact@datadeer.fr.<br><br>

                  DataDeer ne peut être tenue responsable de tout dommage issu d’une interruption, d’un dysfonctionnement quel qu’il soit,
                  d’une suspension ou de la cessation du Site, et ce pour quelque raison que ce soit ou encore de tout dommage matériel ou immatériel
                  qui résulterait d’une connexion au Site.<br><br>

                  Les utilisateurs reconnaissent et acceptent que la responsabilité de DataDeer ne pourra être engagée en cas d’interruption
                  ou d’impossibilité d’accès au Site.<br><br>

                  L’utilisateur est responsable de ses propres utilisations du Site, de l’exactitude et de la véracité des données personnelles
                  qu’il communique via le Site.<br><br>
                </p>


                <h3>ARTICLE 2 – CONTENU DU SITE – EXCLUSION DE RESPONSABILITÉ</h3>
                <p class="description">
                  DataDeer diffuse sur son Site un certain nombre de documents ou d’informations à l’attention des utilisateurs.
                  Ces différents documents ou informations ont pour but de fournir aux utilisateurs une première information sur des
                  sujets pour lesquels ils ne disposeraient d’aucune connaissance particulière.<br><br>

                  DataDeer met tout en œuvre pour s’assurer que des erreurs ne sont pas commises dans les informations que publie sa rédaction.
                  L’utilisateur du Site est averti qu’en aucun cas DataDeer, éditrice de ce site, ne pourra être tenue responsable des conséquences
                  d’une quelconque erreur qui serait contenue dans les informations diffusées sur le Site.<br><br>

                  Particulièrement, DataDeer n’assume aucune responsabilité et ne donne aucune garantie, expresse ou implicite, quant au
                  contenu du Site et de son usage par l’utilisateur dès lors que (i) les informations que ce Site comporte sont exclusivement
                  de nature générale et ne visent pas la situation ou une recherche particulière d’une personne physique ou morale et (ii) ne
                  sont pas nécessairement complètes, exhaustives, exactes ou à jour et (iii) ne constitue en aucune façon une consultation
                  juridique.<br><br>

                  Par conséquent, l’utilisateur demeure pleinement responsable de son analyse de ces informations, des choix opérés et de leurs
                  conséquences et ne saurait, en aucune manière, et sur quelque fondement que ce soit, engager la responsabilité de DataDeer
                  au titre des informations recueillies sur le Site en cas de perte de profits, d’activités, de revenus, de réputation ou de pertes
                  spéciales indirectes ou consécutives, que ce soit en raison de l’utilisation du présent Site, d’actes délictuels
                  (y compris mais sans s’y limiter, la négligence) ou de toute autre raison, et ce même si DataDeer était consciente ou aurait
                  dû être consciente de la possibilité de telles pertes ou de tels dommages.<br><br>

                  L’utilisateur est également averti que DataDeer dégage toute responsabilité pour les informations écrites ou fournies par des
                  tiers, notamment dans le cadre des liens avec des références ou informations extérieures qui ne sont citées ou reproduites que pour
                  la seule commodité des utilisateurs.<br><br>

                  DataDeer est libre de modifier, à tout moment et sans préavis, le contenu du Site.<br><br>

                  La création de liens hypertextes vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de DataDeer,
                  laquelle autorisation peut être révoquée à tout moment. Nonobstant, tous les sites ayant un lien hypertexte vers le Site ne peuvent
                  être contrôlé par DataDeer qui décline toute responsabilité concernant l'accès, le contenu et la ligne éditoriale
                  desdits sites.<br><br>
                </p>


                <h3>ARTICLE 3 – PROPRIÉTÉ INTELLECTUELLE ET NOMS DE DOMAINES</h3>
                <p class="description">
                  Le nom de domaine http://datadeer.fr, la structure générale du Site, ainsi que tous les textes, graphiques,
                  images, sons et vidéos éventuelles le composant, sont la propriété exclusive de DataDeer et/ou de ses partenaires.
                  Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le Site,
                  par quelque procédé que ce soit, sans l'autorisation préalable et par écrite de DataDeer est strictement
                  interdite.<br><br>

                  La marque "DataDeer" est une marque déposée en France par DataDeer auprès de l’INPI. Toute représentation et/ou
                  reproduction et/ou exploitation partielle ou totale de la marque, de quelque nature que ce soit, est totalement
                  prohibée.<br><br>


                  Tout contrevenant s’expose aux sanctions prévues par le Code de la propriété intellectuelle et le Code pénal au titre notamment
                  de la contrefaçon de droit d'auteur et du droit des marques, ainsi qu’au Code civil en matière de responsabilité civile.<br><br>
                </p>



                <h3>ARTICLE 4 – DONNÉES PERSONNELLES</h3>
                <h5>4.1 DÉFINITION DES DONNÉES PERSONNELLES :</h5>
                <p class="description">
                  DataDeer protège la vie privée des utilisateurs de son Site en respectant la législation en vigueur. Ainsi, conformément
                  à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi n°2004-801 du
                  6 août 2004,le traitement automatisé des données à caractère personnel réalisé à partir du Site fait l’objet d’une déclaration
                  auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL).<br><br>

                  Les données nominatives (noms, prénoms, adresse, etc.) et des données d'identification électronique disponibles sur ou à partir
                  de l’ordinateur de l’utilisateur (les cookies ou les adresses IP) constituent ensemble les "Données Personnelles". Il est précisé
                  que les données d'identification électronique permettent d'identifier le terminal de connexion ou les pages consultées sur le Site
                  au cours de la navigation de l’utilisateur mais sont généralement insuffisantes à elles seules pour une identification
                  nominative.<br><br>

                  Conformément à l’Ordonnance n° 2011-1012 du 24 août 2011 relative aux communications électroniques, DataDeer informe les
                  utilisateurs que l’essentiel des cookies émis par le Site a pour finalité exclusive de permettre ou faciliter la communication
                  par voie électronique ou est strictement nécessaire à la fourniture d'un service de communication en ligne à la demande expresse
                  d’un utilisateur. Il s’agit par exemples (i) des cookies utilisés pour la rubrique "Contact"; (ii) des cookies qui ont pour unique
                  finalité de contribuer à la sécurité du service demandé par l’utilisateur ; (iii) des cookies flash contenant des éléments strictement
                  nécessaires pour faire fonctionner un éventuel lecteur de média (audio ou vidéo), correspondant à un contenu qui viendrait à être
                  demandé par l’utilisateur ; (iv) ou encore des cookies permettant des mesures d’audience du Site ; etc.<br><br>

                  Pour tout autre type de cookies et notamment pour ceux permettant dans l’avenir une éventuelle publicité ciblée, le consentement
                  préalable de l’utilisateur serait alors demandé par DataDeer, avant d’être émis par le Site, au moyen d’une zone de demande
                  de consentement pouvant être constituée par une case à cocher.<br><br>
                </p>

                <h5>4.2 COLLECTE DES DONNÉES PERSONNELLES</h5>
                <p class="description">
                  DataDeer est ainsi susceptible de collecter des Données Personnelles de ses utilisateurs notamment par l'intermédiaire de la
                  rubrique "Contact", et par courriel à l'adresse contact@datadeer.fr lors d'un abonnement à une éventuelle future newsletter
                  électronique ou lors d’une inscription par l’utilisateur au flux RSS.<br><br>
                </p>


                <h5>4.3 CONSERVATION DES DONNÉES PERSONNELLES</h5>
                <p class="description">
                  Les données à caractère personnel relatives aux utilisateurs ne sont conservées que dans le seul but de répondre aux demandes
                  de contact et ne sont conservées que pour toute la durée nécessaire aux finalités pour lesquelles elles ont été collectées.<br><br>

                  Toutefois, les données permettant d’établir la preuve d’un droit ou d’un contrat, ou, conservées au titre du respect d’une
                  obligation légale peuvent être archivées conformément aux dispositions en vigueur (notamment celles prévues par le Code de
                  commerce, le Code civil et le Code de la consommation).<br><br>

                  Par ailleurs et sous réserve du respect de l’information des utilisateurs, de leur consentement et de l’exercice de leur droit
                  d’opposition, les données des utilisateurs employées à des fins de diffusion d’informations peuvent être conservées pendant
                  un délai de (2) deux ans.<br><br>

                  Au terme de ce délai, le responsable de traitement pourra reprendre contact avec la personne concernée afin de savoir si elle
                  souhaite continuer à recevoir les informations diffusées par DataDeer. En l’absence de réponse positive et explicite
                  de la personne, les données devront être supprimées ou archivées conformément aux dispositions en vigueur (notamment celles
                  prévues par le Code de commerce, le Code civil et le Code de la consommation).<br><br>
                </p>


                <h5>4.4 DROIT D’ACCÈS ET OPPOSITION À L’ENREGISTREMENT DE COOKIES</h5>
                <p class="description">
                  Dans l'hypothèse où l’utilisateur consent à communiquer des données individuelles à caractère personnel, il dispose d'un
                  droit individuel d'accès, de retrait et de rectification de ces données dans les conditions prévues par la loi n° 78-17
                  du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. L’utilisateur doit adresser toute demande écrite
                  à l'adresse suivante à l'adresse suivante : DataDeer, 3, rue Léon Bonnat, 75016 PARIS
                  ou par courriel : contact@datadeer.fr.<br><br>

                  De plus, les utilisateurs peuvent s’opposer à l'enregistrement de cookies en configurant leur navigateur de la manière suivante :<br><br>
                  • Google Chrome :<br>
                  (i) cliquez sur l'icône du menu "Chrome" ;<br>
                  (ii) sélectionnez "Paramètres" ;<br>
                  (iii) au bas de la page, cliquez sur "Afficher les paramètres avancés" ;<br>
                  (iv) dans la section "Confidentialité", cliquez sur "Paramètres de contenu" ;<br>
                  (v) pour désactiver les cookies sélectionnez "Interdire à tous les sites de stocker des données".<br>
                  <br>
                  • Mozilla Firefox :<br>
                  (i)  choisissez le menu "Outils", puis "Options" ;<br>
                  (ii)  cliquez sur l'option "Vie privée" ;<br>
                  (iii)  rubrique "Cookies" ;<br>
                  <br>
                  • Pour Microsoft Internet Explorer 6.0 et au-delà :<br>
                  (i)  choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options") ;<br>
                  (ii)  cliquez sur l'onglet "Confidentialité" (ou "Confidentiality")<br>
                  (iii)  sélectionnez le niveau souhaité à l'aide du curseur.<br>
                  <br>
                  • Pour Microsoft Internet Explorer 5 :<br>
                  (i)  choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options").<br>
                  (ii)  cliquez sur l'onglet "Sécurité" (ou "Security")<br>
                  (iii)  sélectionnez "Internet" puis "Personnaliser le niveau" (ou "CustomLevel")<br>
                  (iv)  Repérez la rubrique "cookies" et choisissez l'option qui vous convient.<br>
                  <br>
                  <br>
                  Ce site peut également faire usage des solutions Google Analytics qui permettent, grâce à l’utilisation de cookies,
                  de recueillir des informations anonymes et sans identifications de l’utilisateur, dans le but d’analyser et de mesurer
                  l’audience dudit site. Si vous ne souhaitez pas être tracé par ces cookies, vous pouvez vous reporter aux règles de
                  confidentialité et conditions d’utilisation de Google et procéder à la désactivation de Google Analytics.
                </p>

                <h3>ARTICLE 5 – NULLITÉ PARTIELLES</h3>
                <p class="description">
                  Si pour quelque raison que ce soit, l’une ou plusieurs des stipulations des CGU sont considérées comme étant nulles ou
                  inapplicables, elles seront réputées non écrites et les autres stipulations demeureront applicables.
                </p>
                <h3>ARTICLE 6 – LITIGE</h3>
                <p class="description">
                  Clause de médiation<br>
                  Tous différends relatifs à la validité, l'interprétation, l'exécution ou l'inexécution des présentes
                  CGU seront soumis obligatoirement à l’arbitrage de Monsieur ou Madame Le Bâtonnier de l’Ordre des Avocats de Paris.<br><br>
                </p>
                <p class="description" style="text-align: right">
                  <i>Dernière mise à jour : le 27 février 2018</i>
                </p>
          </div>
        </div>
      </div>
    </div>





    <!--
    //////////////////////
    FOOTER
    //////////////////////
    -->
    <div id="footer" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
              &copy; 2018, Créé par <a href="index.html">DataDeer</a> -
              <a target="_blank" href="cgu.html">CGU</a> |
              <a href="mentions_legales.html">Mentions légales</a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="">
            <p class="social-media">
              <!-- À ajouter quand on en aura un
              <a href="#" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" title="linkedin"><i class="fa fa-linkedin"></i></a>-->


              <!--<a href="#" data-toggle="tooltip" title="github"><i class="fa fa-github"></i></a>
              <a href="#" data-toggle="tooltip" title="pinterest"><i class="fa fa-pinterest"></i></a>-->
            </p>
         </div>
        </div>
      </div>
    </div>
  </div>


    <!--
    //////////////////////
    BOOTSTRAP & JAVASCRIPT SOURCES
    //////////////////////
    -->

  </body>
</html>
