{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Russian World Cup</title>
    <meta name="description" content="Mailer">
    <meta name="keywords" content="WorldCup">
    <meta name="author" content="DataDeer">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'worldcup/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'worldcup/css/bootstrap.css' %}">


    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'worldcup/css/style.css' %}">

    <style>
    body {
    /* background-image: url("{% static 'worldcup/img/football-stadium-227561_1920.jpg' %}"); */
    /* background-image: url("{% static 'worldcup/img/vienna-reyes-616732-unsplash.jpg' %}"); */
    background-image: url("{% static 'worldcup/img/thomas-serer-413745-unsplash.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    }
    </style>
  </head>
  <body>



    <!-- Home Page
    ==========================================-->
    <div class="text-center">
        <div class="overlay">
            <div class="content" style="padding:10%">
                <img src="{% static 'worldcup/img/logo_white.svg' %}" alt="DataDeer" style="height:35%;max-width:50%;"/>
                <h1>Welcome on <strong><span class="color">DataDeer</span></strong> Dashboard</h1>
                <p class="lead">Russian World Cup - 2018</p>
                <form method = "post" action = "{% url 'home' %}">
                  {% csrf_token %}
                  <input class="btn_resume" type="submit" value="Take a Look">
                </form>
            </div>
        </div>
    </div>


  </body>
</html>
