{% extends 'worldcup/base.html' %}
{% load static %}

{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114718272-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114718272-3');
</script>
{% endblock head %}

<!-- BLOCK MAIN  -->
{% block main %}
<style>
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

</style>
<div class="main-content" style="padding-top: 10px;">
    <div class="section__content section__content--p10">
        <div class="container-fluid">

          <div class="row">

            <!-- BLOCK TITLE MODIFY TITLE -->
            <div class="col-lg-3">
                <div class="au-card m-b-15" style="padding-bottom: 22px;">
                  <center>
                    <img src="/static/worldcup/img/flags/{{ country_1 }}.png" class="rounded" style="border:1px solid #021a40; height: 100px; width:90px; height:45px;" alt="...">
                    <h1 id="score0" style="margin-top: 10px;">{{score1}}</h1>
                  </center>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="au-card m-b-15" style="padding-bottom: 10px;">
                  <center>
                    <h3 class="title-2 m-b-30" style"vertical-align: middle;">Match of the day - {{hashtag}}</h3>
                    <h4 class="title-3 m-b-30" style"vertical-align: middle;">{{date}}</h4>
                  </center>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="au-card m-b-15" style="padding-bottom: 22px;">
                  <center>
                   <img src="/static/worldcup/img/flags/{{ country_2 }}.png" class="rounded" style="border:1px solid #021a40; width:90px; height:45px;" alt="...">
                   <h1 id="score1" style="margin-top: 10px;">{{score2}}</h1>
                  </center>
                </div>
              </div>
              <!-- <div class="col-lg-12">
                <div class="au-card m-b-30" style="padding-bottom: 10px;">
                  <img src="/static/worldcup/img/flags/{{ country_1 }}.png" class="rounded float-left" style="border:1px solid #021a40; width:90px; height:45px;" alt="...">
                  <img src="/static/worldcup/img/flags/{{ country_2 }}.png" class="rounded float-right" style="border:1px solid #021a40; width:90px; height:45px;" alt="...">
                  <center>
                    <h3 class="title-2 m-b-30" style"vertical-align: middle;">Match of the day - {{hashtag}}</h3>
                    <h4 class="title-3 m-b-30" style"vertical-align: middle;">{{date}}</h4>
                  </center>
                </div>
              </div> -->

               <div class="col-lg-12">
                <div class="au-card m-b-15" style="padding-bottom: 20px;background: #007bff; padding-top: 20px;">
                  <div class="scrollmenu" style="background: #007bff">
                    {% for x in emojis %}
                    <li><i class="em em-{{x.Emoji}}"></i> x{{x.Count}}</li>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                  <div class="au-card m-b-15" style="padding-right:7px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Percentage of positives tweets by team</h3>
                          <div class="chart-wrapper" id="bar_plot"></div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6" style="padding-left:7px;">
                  <div class="au-card m-b-15" style="padding-left: 20px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Percentage of +/- tweets during the match</h3>
                          <div class="chart-wrapper" id="simple_plot"></div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-9">
                  <div class="au-card m-b-15">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Percentage of tweets by country</h3>
                          <div class="card-body" id="container1"></div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3">
                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-15">
                        <div class="au-card-inner">
                          <h3 class="title-3 m-b-30 text-white">Top Countries Tweets</h3>
                            <div class="table-responsive">
                                <table class="table table-top-countries text-white" id="data-table">
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


              <div class="col-lg-4">
                  <div class="au-card m-b-15" style="padding-left: 25px;padding-right: 10px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40" >Buzz XI</h3>
                          <div class="chart-wrapper" id="pitch_plot"></div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-8" style="padding-left:7px;">
                  <div class="au-card m-b-15" style="padding-left: 20px;">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Top Buzz Players - Live</h3>
                          <div class="chart-wrapper" id="multi_playersChart"></div>
                      </div>
                  </div>
              </div>


              <div class="col-lg-4">
                  <div class="au-card m-b-15">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Our favorite tweet</h3>
                          {{our_tweet|safe}}
                        </div>
                  </div>
              </div>

              <div class="col-lg-4" style="padding-left:7px;">
                <div class="au-card m-b-15">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Our favorite goal tweet</h3>
                          {{goal_tweet|safe}}
                      </div>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="au-card m-b-15">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Deertweet tweets by itself</h3>
                          {{rnn_tweet|safe}}
                      </div>
                  </div>
              </div>

              <!-- <div class="col-lg-12">
                  <div class="au-card m-b-30">
                      <div class="au-card-inner">
                          <h3 class="title-2 m-b-40">Deertweet tweets by itself</h3>
                          <div class="chart-wrapper" id="multi_playersChart"></div>
                      </div>
                  </div>
              </div> -->

          </div>


        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}


<!-- BLOCK D3V4 MODIFY D3 VERSION V4 CHARTS -->
{% block d3v4 %}

<!-- MULTI LINES CHART -->
<script type="text/javascript">
  d3v4 = d3

  window.addEventListener("resize", redraw)
  const margin_plot = {
      top: 10,
      right: 10,
      bottom: 60,
      left: 60,
  };
  let div_plot = document.getElementById("simple_plot");
  let svg_plot_init = d3v4.select("#simple_plot").append("svg")

  var format_date_base = d3v4.timeFormat("% %H:%M");
  var format_date = d3v4.timeFormat("%H:%M");
  let bisect_date_plot = d3v4.bisector(d => d.Time).left;

  let dataset_plot = []
  let x_plot, y_plot;
  let svg_plot;

  let matchname2 = "{{hashtag}}"

  d3v4.csv("/static/worldcup/data/"+matchname2.slice(1,7)+"/"+matchname2.slice(1,7)+"_Sentiments_Agg.csv")
      /* On load les colonnes de notre csv */
      .row(d => {
          return {
              Time: new Date(d.Time),
              Negative: +d.Negative,
              Positive: +d.Positive
          }
      })
      /* On les scale entre la plus petite et la plus grande valeur selon la taille de notre fenêtre */
      .get((error, rows) => {
          if (rows.length > 0) {

              x_plot = d3v4.scaleTime()
                      .domain(d3v4.extent(rows, row => row.Time))
              y_plot = d3v4.scaleLinear()
                      .domain([0, d3v4.max(rows, row => Math.max(row.Negative, row.Positive))])

              dataset_plot = rows


              redraw();

          }
      });
</script>


<!-- MULTI PLAYERS CHART -->
<script type="text/javascript">
  window.addEventListener("resize", redraw_players)
  const margin_players = {
      top: 50,
      right: 10,
      bottom: 60,
      left: 60,
  };
  let div_players = document.getElementById("multi_playersChart");
  let svg_players_init = d3v4.select("#multi_playersChart").append("svg")

  //var format_date_base = d3v4.timeFormat("% %H:%M");
  //var format_date = d3v4.timeFormat("%H:%M");
  let bisect_date_players = d3v4.bisector(d => d.Time).left;

  let dataset_players = []
  let x_players, y_players;
  let svg_players;

  let older_date;
  let Name_1, Name_2, Name_3, Name_4, Name_5;
  let Percentage_1, Percentage_2, Percentage_3, Percentage_4, Percentage_5;
  let Country_1, Country_2, Country_3, Country_4, Country_5;
  let max_player1, max_player2, max_player3, max_player4, max_player5

  let matchname3 = "{{hashtag}}"

  d3v4.json("/static/worldcup/data/"+matchname2.slice(1,7)+"/"+matchname2.slice(1,7)+"_Timeseries_Players.json", function(error, myData) {

    let len_data_players = myData.length

    Percentage_1 = myData[len_data_players-1]["Percentage1"]
    Percentage_2 = myData[len_data_players-1]["Percentage2"]
    Percentage_3 = myData[len_data_players-1]["Percentage3"]
    Percentage_4 = myData[len_data_players-1]["Percentage4"]
    Percentage_5 = myData[len_data_players-1]["Percentage5"]

    Country_1 = myData[len_data_players-1]["Pays1"]
    Country_2 = myData[len_data_players-1]["Pays2"]
    Country_3 = myData[len_data_players-1]["Pays3"]
    Country_4 = myData[len_data_players-1]["Pays4"]
    Country_5 = myData[len_data_players-1]["Pays5"]

    Name_1 = myData[len_data_players-1]["Player1"]
    Name_2 = myData[len_data_players-1]["Player2"]
    Name_3 = myData[len_data_players-1]["Player3"]
    Name_4 = myData[len_data_players-1]["Player4"]
    Name_5 = myData[len_data_players-1]["Player5"]

    //data = response//JSON.parse(response);

    myData.forEach(function(item, index){
      date = new Date(item["Time"])
      dataset_players.push({"Time": date,
        "Percentage1": Number(item["Percentage1"]),
        "Percentage2": Number(item["Percentage2"]),
        "Percentage3": Number(item["Percentage3"]),
        "Percentage4": Number(item["Percentage4"]),
        "Percentage5": Number(item["Percentage5"])});
    });

    bisect_date_players = d3v4.bisector(function(d) { return d["Time"];}).left;

    x_players = d3v4.scaleTime()
                    .domain(d3v4.extent(dataset_players, function(d) {
                    return d["Time"];
                  }));
    y_players = d3v4.scaleLinear()
            .domain([0, d3v4.max(dataset_players,function(d) {
                return Math.max(d["Percentage1"], d["Percentage2"], d["Percentage3"], d["Percentage4"], d["Percentage5"]);
                }
              )]);

    max_player1 = d3v4.max(dataset_players,function(d) {return Math.max(d["Percentage1"])})
    max_player2 = d3v4.max(dataset_players,function(d) {return Math.max(d["Percentage2"])})
    max_player3 = d3v4.max(dataset_players,function(d) {return Math.max(d["Percentage3"])})
    max_player4 = d3v4.max(dataset_players,function(d) {return Math.max(d["Percentage4"])})
    max_player5 = d3v4.max(dataset_players,function(d) {return Math.max(d["Percentage5"])})


    older_date = d3v4.max(dataset_plot, d => Math.max(d.Time))

    redraw_players();

  });


</script>


<!-- BARPLOT CHART -->
<script type="text/javascript">
  window.addEventListener("resize", redraw_barplot)
  let compteur_resize_bar = 0
  const margin_barplot = {
      top: 10,
      right: 60,
      bottom: 60,
      left: 10,
  };

  let div_barplot = document.getElementById("bar_plot");
  let svg_barplot_init = d3v4.select("#bar_plot").append("svg")
  let svg_barplot
  let tooltip = d3v4.select("#bar_plot").append("div").attr("class", "toolTip");

  let w = div_barplot.clientWidth;
  let h = 250
  var x, y;

  let dataset_barplot;

  d3v4.json("/static/worldcup/data/"+matchname2.slice(1,7)+"/"+matchname2.slice(1,7)+"_Sentiments.json", function(error, myData) {

    dataset_barplot = myData;

    // console.log(dataset_barplot);

     x = d3v4.scaleLinear()
     y = d3v4.scaleBand()

    redraw_barplot()

  });

</script>

<!-- PITCH PLOT -->
<script type="text/javascript">
  window.addEventListener("resize", redraw_pitch)
  const margin_pitch = {
      top: 0,
      right: 10,
      bottom: 0,
      left: 10,
  };

  let div_pitchplot = document.getElementById("pitch_plot");
  let svg_pitch_init = d3.select('#pitch_plot').append('svg')

  let width_pitch = div_pitchplot.clientWidth;
  let height_pitch = 610
  var x, y;

  let w_pitch
  let h_pitch
  let max_width_available = 0

  let keeper_name
  let keeper_country
  let defenders_name
  let midfielders_name
  let midfielders_country
  let attackers_name
  let attackers_country


  let matchname = "{{hashtag}}"

  d3v4.json("/static/worldcup/data/"+matchname.slice(1,7)+"/"+matchname.slice(1,7)+"_Top11Players.json", function(error, myData) {
    // console.log(myData);
    keeper_name = myData["Name"]["Keeper"][0]
    keeper_country = myData["Country"]["Keeper"][0]

    defenders_name = myData["Name"]["Defenders"]
    defenders_country = myData["Country"]["Defenders"]

    midfielders_name = myData["Name"]["Midfielders"]
    midfielders_country = myData["Country"]["Midfielders"]

    attackers_name = myData["Name"]["Attackers"]
    attackers_country = myData["Country"]["Attackers"]

    redraw_pitch()
  });

  window.d3 = null
</script>

{% endblock d3v4 %}


<!-- BLOCK D3 MODIFY D3 VERSION V3 MAP CHARTS -->
{% block d3 %}
<script>

function loadTable(tableId, fields, data) {
  var rows = '';
  $.each(data, function(index, item) {
      var row = '<tr>';
      $.each(fields, function(index, field) {
        if(index == 0){
          row += '<td>' + item[index]  + '</td>';
        }else{

          row += '<td class=\"text-right\">' + item[index]+"%" + '</td>';
        }
      });
      rows += row + '<tr>';
  });
  $('#' + tableId).html(rows);
}

  var series = [];
  var oppostion = "{{hashtag}}"
  d3.csv("/static/worldcup/data/"+oppostion.slice(1,7)+"/"+oppostion.slice(1,7)+"_Nations.csv", function(data) {
    for(var i = 0;i<data.length;i++){
        series.push([data[i]['Nation'], data[i]['Count']]);
    }


  var top10_team = series.slice(0, 11);

  loadTable('data-table', ['field1', 'field2'], top10_team);

  var dataset = {};

  var onlyValues = series.map(function(obj){ return obj[1]; });
  var minValue = Math.min.apply(null, onlyValues),
        maxValue = Math.max.apply(null, onlyValues);

  var paletteScale = d3.scale.linear()
        .domain([minValue,maxValue])
        .range(["#EFEFFF","#02386F"]); // blue color

  series.forEach(function(item){
      var iso = item[0],
              value = item[1];
      dataset[iso] = { numberOfThings: value, fillColor: paletteScale(value) };
  });

  map = new Datamap({
      element: document.getElementById('container1'),
      projection: 'mercator',
      fills: { defaultFill: '#F5F5F5' },
      responsive: true,
      geographyConfig: {
        borderColor: '#DEDEDE',
        highlightBorderWidth: 2,
        highlightBorderColor: '#B7B7B7',
        highlightFillColor: function(geo) {
            return geo['fillColor'] || '#F5F5F5';
        },
        popupTemplate: function(geo, data) {
            // don't show tooltip if country don't present in dataset
            if (!data) { return ; }
            // tooltip content
            return ['<div class="hoverinfo">',
                '<strong>', geo.properties.name, '</strong>',
                '<br>Percentage of Tweets : <strong>', data.numberOfThings, '</strong>',
                '</div>'].join('');
        }
      },
      data: dataset
  });
  window.addEventListener('resize', function(event) { map.resize(); });
});
</script>
<script type="text/javascript">


  d3v4.json("/static/worldcup/data/"+matchname.slice(1,7)+"/"+matchname.slice(1,7)+"_TopPlayers.json", function(error, myData) {
    // console.log(myData);
    var top10_players = myData.slice(0,6);
    loadTable('players-table', ['field1', 'field2'], top10_players);
  });

</script>
{% endblock d3 %}
