<!DOCTYPE html>
<html lang="fr">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114718272-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114718272-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DataDeer apporte son expertise en matière de Machine Learning et Big Data afin de créer des outils et des solutions de collecte et traitement de la donnée, interne et externe en mettant en oeuvre les dernières techniques.">
    <meta name="keywords" content="data, data science, data engineering, data scientist, Big Data, machine learning, optimisation, outils data, solutions, expertise, valorisation des données">
    <meta name="author" content="DataDeer">

    <title>DataDeer</title>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">

    <!-- Montserrat Sans -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Lato Font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin-ext' rel='stylesheet' type='text/css'>
    <!-- Logos Services -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <!-- LOADER -->
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="js/loader.js"></script>
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->


  </head>



  <body class="blue">
    <!--
    //////////////////////
    LOADER SECTION
    //////////////////////
    -->
    <div class="se-pre-con"></div>


    <!--
    //////////////////////
    SERVICES SECTION
    //////////////////////
    -->
    <div id="services" class="section gray">
      <div class="container" style="padding-bottom: 0px;">

        <div style="float: left; width: 5%;">
          <a href="index.html"><img href="index.html" src="img/favicon.png" style="width: 110%; margin-top:0px;" alt=""/></a>
        </div>
        <div style="float: right; width: 5%;">
          <a href="index.html"><img src="img/favicon.png" style="width: 110%; margin-top:0px;" alt=""/></a>
        </div>

        <div class="content">
          <div class="text-center">
            <h2 class="title">Mentions Légales</h2>
            <br>
            <br>
            <br>
          </div>
            <div style="float: centered;">
              <p class="description" style="text-align: center">
                Identification de la société éditeur du site : DataDeer<br>
                Siège Social : 3, rue Léon Bonnat, 75 016 PARIS<br>
                Téléphone : +33 (0) 6 43 63 32 29<br>
                Adresse du courrier électronique : contact@datadeer.fr<br>
                N° immatriculation : en cours - RCS de Paris<br>
                Capital social : 2 000 euros<br>
                Développement, Graphisme : Baptiste Aubert - Clément Tailleur - Maxime Poulain<br>
                Hébergement : OVH. 2, rue Kellermann, 59 100 ROUBAIX<br>
                Directeur de la Publication : Monsieur Clément Tailleur
              </p>
          </div>
        </div>
      </div>
    </div>





    <!--
    //////////////////////
    FOOTER
    //////////////////////
    -->
    <div id="footer" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
              &copy; 2018, Créé par <a href="index.html">DataDeer</a> -
              <a target="_blank" href="cgu.html">CGU</a> |
              <a href="mentions_legales.html">Mentions légales</a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="">
            <p class="social-media">
              <!-- À ajouter quand on en aura un
              <a href="#" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" title="linkedin"><i class="fa fa-linkedin"></i></a>-->


              <!--<a href="#" data-toggle="tooltip" title="github"><i class="fa fa-github"></i></a>
              <a href="#" data-toggle="tooltip" title="pinterest"><i class="fa fa-pinterest"></i></a>-->
            </p>
         </div>
        </div>
      </div>
    </div>
  </div>


    <!--
    //////////////////////
    BOOTSTRAP & JAVASCRIPT SOURCES
    //////////////////////
    -->

  </body>
</html>
